<!-- Lines animation -->
<div class="o-pagetransition" data-transition="lines">
    <div class="o-pagetransition__line"></div>
    <div class="o-pagetransition__line"></div>
    <div class="o-pagetransition__line"></div>
    <div class="o-pagetransition__line"></div>
    <div class="o-pagetransition__line"></div>
</div>

<!-- Tiles animation -->
<div class="o-pagetransition" data-transition="tiles">
    <div class="o-pagetransition__tile-row">
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
    </div>
    <div class="o-pagetransition__tile-row">
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
    </div>
    <div class="o-pagetransition__tile-row">
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
    </div>
    <div class="o-pagetransition__tile-row">
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
    </div>
</div>