<!-- Layer bottom animation -->
<div class="o-pagetransition" data-transition="layer-bottom">
    <div class="o-pagetransition__layer"></div>
    <div class="o-pagetransition__layer"></div>
    <div class="o-pagetransition__layer"></div>
</div>

<!-- Layer left animation -->
<div class="o-pagetransition" data-transition="layer-left">
    <div class="o-pagetransition__layer"></div>
    <div class="o-pagetransition__layer"></div>
    <div class="o-pagetransition__layer"></div>
</div>

<!-- Layer right animation -->
<div class="o-pagetransition" data-transition="layer-right">
    <div class="o-pagetransition__layer"></div>
    <div class="o-pagetransition__layer"></div>
    <div class="o-pagetransition__layer"></div>
</div>

<!-- Layer top animation -->
<div class="o-pagetransition" data-transition="layer-top">
    <div class="o-pagetransition__layer"></div>
    <div class="o-pagetransition__layer"></div>
    <div class="o-pagetransition__layer"></div>
</div>

<!-- Lines animation -->
<div class="o-pagetransition" data-transition="lines">
    <div class="o-pagetransition__line"></div>
    <div class="o-pagetransition__line"></div>
    <div class="o-pagetransition__line"></div>
    <div class="o-pagetransition__line"></div>
    <div class="o-pagetransition__line"></div>
</div>

<!-- Tiles animation -->
<div class="o-pagetransition" data-transition="tiles">
    <div class="o-pagetransition__tile-row">
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
    </div>
    <div class="o-pagetransition__tile-row">
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
    </div>
    <div class="o-pagetransition__tile-row">
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
    </div>
    <div class="o-pagetransition__tile-row">
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
        <div class="o-pagetransition__tile"></div>
    </div>
</div>

<!-- Triangle fold animation -->
<div class="o-pagetransition" data-transition="triangle-fold">
    <div class="o-pagetransition__triangle"></div>
    <div class="o-pagetransition__triangle"></div>
    <div class="o-pagetransition__triangle"></div>
    <div class="o-pagetransition__triangle"></div>
</div>

<!-- Triangle left animation -->
<div class="o-pagetransition" data-transition="triangle-left">
    <div class="o-pagetransition__triangle"></div>
    <div class="o-pagetransition__triangle"></div>
</div>

<!-- Triangle right animation -->
<div class="o-pagetransition" data-transition="triangle-right">
    <div class="o-pagetransition__triangle"></div>
    <div class="o-pagetransition__triangle"></div>
</div>
