<div class="m-text-slider" data-autoplay="true" data-interval-time="10000">
    <div class="row">
        <div class="col-12">
            <div class="m-text-slider__container">
                <div class="m-text-slider__slide">
                    <h2>"IF YOU WOULD CONVINCE A MAN THAT HE DOES WRONG, DO RIGHT. BUT DO NOT CARE TO CONVINCE HIM. MEN WILL BELIEVE WHAT THEY SEE. LET THEM."</h2>
                    <h6>~ Sjors Heil</h6>
                </div>
                <div class="m-text-slider__slide">
                    <h2>"Bound with all the weight of all the words he tried to say chained to all the places that he never wished to stay."</h2>
                    <h6>~ Bas Heil</h6>
                </div>
            </div>
            <div class="m-text-slider__controls">
                <dic class="m-text-slider__controls--container">
                    <img class="m-text-slider__previous" src="<%= require('../assets/img/arrow.svg') %>" alt="Previous button" />
                    <img class="m-text-slider__next" src="<%= require('../assets/img/arrow.svg') %>" alt="Previous button" />
                </dic>
            </div>
        </div>
    </div>
</div>