<div class="m-parallax">
    <div class="m-parallax__img m-parallax__img--full o-img__bg" data-img="<%= require('../assets/img/cat.jpeg') %>">
        <div class="m-parallax__overlay">
            <h1>Developr-lab</h1>
        </div>
    </div>
    
    <section>
        <div class="row">
            <div class="col-12">
                <h1>About</h1>
            </div>
            <div class="col-12 col-md-6">
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.</p>
            </div>
            <div class="col-12 col-md-6">
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.</p>
            </div>
        </div>
    </section>
    
    <div class="m-parallax__img o-img__bg" data-img="<%= require('../assets/img/settings.png') %>">
        <div class="m-parallax__overlay">
            <h1>Developr-lab</h1>
        </div>
    </div>
    
    <section class="section section-dark">
        <div class="row">
            <div class="col-12">
                <h1>About</h1>
            </div>
            <div class="col-12 col-md-6">
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.</p>
            </div>
            <div class="col-12 col-md-6">
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.</p>
            </div>
        </div>
    </section>
    
    <div class="m-parallax__img o-img__bg" data-img="<%= require('../assets/img/cat.jpeg') %>">
        <div class="m-parallax__overlay">
            <h1>Developr-lab</h1>
        </div>
    </div>
    
    <section class="section section-dark">
        <div class="row">
            <div class="col-12">
                <h1>About</h1>
            </div>
            <div class="col-12 col-md-6">
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.</p>
            </div>
            <div class="col-12 col-md-6">
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.</p>
            </div>
        </div>
    </section>
    
    <div class="m-parallax__img o-img__bg" data-img="<%= require('../assets/img/settings.png') %>">
        <div class="m-parallax__overlay">
            <h1>Developr-lab</h1>
        </div>
    </div>
</div>