<div class="o-card">
    <div class="o-card__header">
        <h3>Titel</h3>
    </div>
    <div class="o-card__img o-card__img--padding">
        <div class="o-card__img--src o-img__bg" data-img="<%= require('../assets/img/cat.jpeg') %>"></div>
    </div>
    <div class="o-card__content">
        <p>In deze card kan je zoveel content kwijt als je wilt. Het rekt zich mee maar er kan ook gewoon een button onder geplaatst worden.</p>
        <p>Als het goed is staat hier nu een paragraaf met een margin-top. De eerste paragraaf heeft geen margin-top daarintegen.</p>
        <button class="o-btn o-card__btn--small">Lees meer</button>
    </div>
    <div class="o-card__footer">
        <img src="<%= require('../assets/img/settings.png') %>" alt="icon" />
        <span>9.291</span>
        <img src="<%= require('../assets/img/settings.png') %>" alt="icon" />
        <span>9.291</span>
        <img src="<%= require('../assets/img/settings.png') %>" alt="icon" />
        <span>9.291</span>
        <img src="<%= require('../assets/img/settings.png') %>" alt="icon" />
        <span>9.291</span>
        <img src="<%= require('../assets/img/settings.png') %>" alt="icon" />
        <span>9.291</span>
    </div>
</div>