@charset "UTF-8";

/* =============================================================================
	CONFIG
============================================================================= */

$object-name: 'pagetransition';

/* =============================================================================
	BASE
============================================================================= */

.o-#{$object-name} {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@import './lines/h.lines';
@import './tiles/h.tiles';