@charset "UTF-8";

/* =============================================================================
	CONFIG
============================================================================= */

$object-name: 'img';

/* =============================================================================
	BASE
============================================================================= */

.o-#{$object-name}, img {
    margin: 2rem 0;
    min-width: 100px;
    min-height: 100px;
}