@charset "UTF-8";

/* =============================================================================
	CONFIG
============================================================================= */

$object-name: 'pagetransition';

/* =============================================================================
	BASE
============================================================================= */

[data-transition="lines"] {

    $lines: 5;
    div {
        width: 100%;
        height: 20%;
        position: absolute;
        transform: translateX(-100%);
        background: color(primary);
    }

    .o-#{$object-name} {
        @for $i from 0 through $lines {
            &__line {
                &:nth-child(#{$i}) {
                  top: calc(#{$i - 1} * 20%);
                }
            }
        }
    }
    
}