@charset "UTF-8";

/* =============================================================================
	CONFIG
============================================================================= */

$object-name: 'pagination';

/* =============================================================================
	BASE
============================================================================= */

.o-#{$object-name} {
	position: relative;

	&__btn {
		display: block;
		margin: 25px auto;
	}

}